$darkBlueBg : #3E63C0;
$blue : #309FEF;
$grey : #7D869E;
$text : #27394E;
$bg : #F0F7FC;
$white : #FFFFFF;
$blueHover : #40AAF6;
$lightBlueHover : #69C0FF;
$lightGrey : #D5D9E5;
$darkBg : #292E3E;
$red : #FF5B5B;